<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <title>{{ section.title }}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/base.css" />
    {% block css %} {% endblock %}
  </head>
  <body>
    <div class="development">Under development</div>
    <div class="menu">
      <menu>
        <li>
          <a href="https://www.qqself.com"
            ><img class="menu-logo" src="/logo_512.png"
          /></a>
        </li>
        <li><a href="https://app.qqself.com">App</a></li>
        <li>
          <a
            href="https://github.com/qqself/qqself/blob/main/research/library.md"
            >Learning System</a
          >
        </li>
        <li><a href="https://github.com/qqself/qqself">GitHub</a></li>
      </menu>
    </div>
    <div class="content">{% block content %} {% endblock %}</div>
    <br />
    <br />
  </body>
</html>
