.mastering 
    font-size: 1.2em

    pre 
        background-color: #F0F0F0

    h1, h2 
        margin-bottom: 30px
        text-align: center
    p, ul
        margin-bottom: 30px

    .description
        max-width: 900px
        margin-top: 20px
        
        .text
            text-align: justify
    .chapters 
        display: flow
        text-align: center
    
    .in-qqself 
        padding-top: 5px
        padding-bottom: 30px

    .in-qqself .separator 
        margin: 15px
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        height: 1px
        background-color: #000
        margin: 20px 0
    
    .in-qqself .separator img 
        width: 42px
        height: auto
        background-color: white
        padding: 0 5px
    
        
