# Rust
target

# Node
node_modules
dist
yarn-error.log
client-web/qqself_core/

# Data
journal.txt
qqself_keys.txt
*.local

# iOS
*.xcworkspace
*.xcuserstate
project.xcworkspace/
xcuserdata/
qqselfCoreFFI.h
client-ios/qqself/qqselfCore.swift

# Generated
client-ios/qqselfCoreLib/Sources/qqselfCoreLib/qqselfCoreLib.swift
client-ios/qqselfCoreLib/artifacts/qqselfCore.xcframework/ios-arm64/qqselfCore.framework/qqselfCore
client-ios/qqselfCoreLib/artifacts/qqselfCore.xcframework/ios-arm64_x86_64-simulator/qqselfCore.framework/qqselfCore

# Terraform
**/.terraform/*
*.tfstate
*.tfvars
