.root {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.content {
  text-align: center;
}
.title {
  margin: 20px 0;
}
.logo {
  max-width: 256px;
  max-height: 256px;
}
.description {
  max-width: 800px;
  text-align: justify;
}
.description p,
.description ul,
.description hr {
  margin-bottom: 20px;
}

.menu {
  width: 100%;
  border-bottom: solid 1px black;
  display: flex;
  justify-content: center;
}
.menu menu {
  margin: 10px 20px 0 10px;
  padding: 0;
  width: 800px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.menu-logo {
  width: 32px;
  height: 32px;
}
