<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.lockedInPlace</key>
	<false/>
	<key>CommentsScaleFactor</key>
	<real>1</real>
	<key>CommentsUseTextScale</key>
	<true/>
	<key>CompileFolder</key>
	<string>/Users/fessguid/Projects/qq_temp</string>
	<key>HistoryMonthPopUpType</key>
	<integer>0</integer>
	<key>HistoryUsesChars</key>
	<false/>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>SuppressBookmarksFolderCheck</key>
	<false/>
	<key>binderSelection</key>
	<array>
		<integer>0</integer>
	</array>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {309, 886}}</string>
		<string>{{310, 0}, {1202, 886}}</string>
	</array>
	<key>binderState</key>
	<array>
		<string>7A583553-3A84-40D6-B9B9-0430B8CD3E39</string>
		<string>6C3BDCCC-F6C3-4AF9-B7CD-475616712EAE</string>
		<string>96776348-B035-46DA-A5A5-210E99B93774</string>
		<string>0778B444-3F1F-4924-83BA-B2AB7028AC3E</string>
		<string>07B0D7C6-57CE-4D6F-8AD9-11F06A261A5F</string>
		<string>B0417A1B-D617-4CBD-900A-14A6AB12C289</string>
		<string>6B6E864E-D14F-4EF7-8C5F-1D489706989A</string>
		<string>A41BA2A1-C599-43C2-99CC-8C1A7FFC2C24</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>0201A25E-8884-41BE-A7CD-8EE979BB545D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>022A64B7-D932-414B-9BF2-FF5C67662A67</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>092F774B-9C2F-4BB6-B627-4A8FA07450C1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1778489F-B8C7-4A82-8748-2E4A6E13A69C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1A0CDC31-E038-4271-BE70-18DB40672FA5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>254C14F1-834E-4478-8A21-FD0FA5786A22</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2E108616-5403-4B6A-AB39-A40499DB86E2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2E7A2106-2182-47B5-97AC-C511282F9CB2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>359215D9-EFDF-485E-9EEA-08B1D2AE7704</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>36BCD293-3D07-4BA8-99A2-9D842D7BD360</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>40CC5D38-7BA5-4114-8FC9-4C55133FB391</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>422109DC-79CF-4AFA-9C76-8AD0ABFBA5D1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4D2FD36A-C709-45D5-9FFB-91C44C5DEC87</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>518E3EDF-5A20-47CE-88FC-1B7666F2ACF7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>520BF265-65EC-466A-8E53-F5CE60B13456</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6C3BDCCC-F6C3-4AF9-B7CD-475616712EAE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6F897753-918D-437C-8AC1-7617095488F9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>709D06CC-D638-4A69-B12C-E7DE13E77265</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8B6480B6-4CE6-4572-B319-2770CEDD6D6A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8F215CEB-50D9-4141-8A7B-B5DAC76D0C83</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9277DD3D-8415-4A7D-9F20-14A270DA3245</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>93D3FBD0-E9A5-4437-8831-BBD4C25644E1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9802F6E6-3CC9-4FE7-B77C-5A769F391972</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A4958546-07B6-4F49-A64B-47A7A20035B4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A5BFAD03-2D40-4FB0-9E0F-7792F3922AEE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AB49C618-C906-4D9E-8D1A-8BD33CF6560B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AED926EC-E4B3-4663-9A05-E7FD8C42648C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B7500291-2DB8-40BF-A4D0-6ACCC4E332EA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BEEDC308-1303-42D6-83A9-ED1674D9A54C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CC7E226C-C21D-43B6-9A11-8F4B5558F276</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CD5585C9-F273-4A04-815A-9B103FB5301C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CE825920-4ACA-4C50-B9F1-F9A470C0A701</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D050F2C2-0A5E-43D8-96CF-ECB7B14A8F21</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D11ABB87-21EB-4D31-8C42-2D489C9BA36E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D7FBBC42-AB54-4F78-B07D-5455F75E9014</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DA393BBC-E800-40E8-90D8-D0DA10A01900</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FD7233A2-5CB2-46F8-8D76-970DC5B3952B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>Project</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>closedSuccessfully</key>
	<true/>
	<key>collectionsHeight</key>
	<real>115</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>continuousSpellChecking</key>
	<true/>
	<key>editorSplitFrames</key>
	<array>
		<string>{{602, 0}, {600, 856}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>fullScreenBackgroundFade</key>
	<real>1</real>
	<key>fullScreenHorizontalPaperPosition</key>
	<integer>2</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenPaperHeight</key>
	<integer>-1</integer>
	<key>fullScreenPaperWidth</key>
	<integer>850</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>fullScreenVerticalPaperPosition</key>
	<integer>2</integer>
	<key>grammarSpellChecking</key>
	<false/>
	<key>inspectorCustomPaneIsCollapsed</key>
	<true/>
	<key>inspectorIsCollapsed</key>
	<false/>
	<key>inspectorNotesMode</key>
	<integer>0</integer>
	<key>inspectorSelectedDataTab</key>
	<integer>0</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {302, 876}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>258</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.PDFAutoScales</key>
	<false/>
	<key>mainDocumentEditor.binderDocuments</key>
	<array>
		<string>9FFBA333-8432-41C1-91F5-1302DFE283CA</string>
	</array>
	<key>mainDocumentEditor.corkboardVisible</key>
	<false/>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>0</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>mainDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
	</array>
	<key>mainDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>mainDocumentEditor.outlinerVisible</key>
	<false/>
	<key>mainDocumentEditor.rulerIsVisible</key>
	<false/>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {400, 533.33333333333326}}</string>
	<key>mainDocumentEditor.selectedRanges</key>
	<string>{0, 0}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>mainWindowFrame</key>
	<string>1 47 1103 897 0 0 1512 944 </string>
	<key>projectStatsSheet</key>
	<dict>
		<key>excludeAnnots</key>
		<true/>
		<key>excludeFN</key>
		<false/>
		<key>includeSubdocs</key>
		<false/>
		<key>limitLinesPerPage</key>
		<true/>
		<key>lineCountingFont</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQB
		aRiEBVsyNGNdBgAAABAAAAD//kMAbwB1AHIAaQBlAHIAhAFmDIQBYwCYAZgA
		mACG
		</data>
		<key>maxLinesPerPage</key>
		<integer>50</integer>
		<key>options</key>
		<integer>0</integer>
		<key>wordsPerPaperbackPage</key>
		<integer>350</integer>
	</dict>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>228</real>
		</dict>
	</dict>
	<key>selectedCollectionTabIndex</key>
	<integer>0</integer>
	<key>showInvisibles</key>
	<false/>
	<key>smartDashes</key>
	<true/>
	<key>smartQuotes</key>
	<true/>
	<key>supportingDocumentEditor.binderDocuments</key>
	<array/>
	<key>supportingDocumentEditor.currentEditorViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
	</array>
	<key>supportingDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>supportingDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>createdDate</key>
		<real>78</real>
		<key>label</key>
		<real>85</real>
		<key>sectionType</key>
		<real>100</real>
		<key>status</key>
		<real>85</real>
		<key>title</key>
		<real>275</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{-90.666666666666657, 0}, {801.33333333333326, 533.33333333333326}}</string>
	<key>supportingDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>supportingDocumentEditor.selectedItemUUIDs</key>
	<array/>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
